@import 'variables.scss';
@import "theme.scss";

html, body {
  margin: 0;
  padding: 0;
  color: white;

  height: 100%;
  background-color: $dark;
  font-family: 'Francois One', sans-serif;
}

/* Menu bar */

#container 
{
  nav{
    width: 100%;
    height: 50px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
}


#container{
  #title{
    width: 30%;
    height: 100%;
    line-height: 30px;
  }
  #buttons{
    background-color: black;
    float:right;
    width: 150px;
    height: 100%;
    #minimize, #maximize, #close {
      float:left;
      height: 100%;
      width: 33%;
      text-align: center;
    }
  }
}

.button{
  cursor: pointer;
  text-align: center;
  border: 2px solid $green;
  border-radius: 6px;
  transition: all 150ms ease-in-out;
  padding: 10px 20px;
  background-color: rgba($green, .1);
  &:hover{
      background-color: rgba($green, .2);
      border-color: $light-green;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  &.button--warning{
    border: 2px solid $red;
    background-color: rgba($red, .2);
    &:hover{
      background-color: rgba($red, .5);
  }
  }
}

.main-area{
  height: 520px;
  margin-bottom: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
  /* Compensate for scrollbar */
  margin-right: -10px;
}

.heading{
  margin-top: 15px;
  margin-bottom: 10px;
  min-height: 41px;
}

mat-form-field{
  width:100%;
}

textarea{
  resize: none !important;
}

.sub-container{
  min-height: 64px;
  padding: 20px 20px 12px;
  margin: 10px 0;
  border-radius: 6px;
  background-color: $medium-dark;
  &.highlight{
      background-color: $dark-light;
  }
}

.non-draggable {
  pointer-events: none;
}

.error {
  color: red;
}

/* Spinner */
.spinner{
  display: flex;
  align-items: center;
  justify-content: center;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: $green;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}


/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: $dark; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $green; 
  border-left:5px solid $dark;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $light-green; 
}

/* Dragula */
/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}