<div class="row heading">
  <div class="col-12 text-center">
    <h3>Projects</h3>
  </div>
</div>
<div class="main-area">
  <ng-container *ngFor="let project of projects">
    <div class="row mb-2">
      <div class="col-12">
        <div class="button" routerLink="/project/{{project.id}}">
            {{project.name}}
        </div>
      </div>
    </div>
  </ng-container>
</div>
<div class="row">
  <div class="col-12">
    <div class="button" routerLink="/project/create">
      Create new project
    </div>
  </div>
</div>