@import '../../../assets/styles/variables.scss';

.project{
    margin-bottom: 10px;
}

.project__inner{
    cursor: pointer;
    text-align: center;
    border: 1px solid $green;
    border-radius: 6px;
    transition: all 150ms ease-in-out;
    padding: 10px 0;
    &:hover{
        background-color: rgba(0, 168, 0, .2);
        border-color: greenyellow;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}